.nanobox-dash-ui-timezone
  header.shadow-parent
    img.shadow-icon(data-src = "clock")
    .timezone-data
      .timezone
      .timezone-time

  .timezone-map
    #zonepicker(style = "width:640px; height:480px;")
