doctype html
html(lang="en")
  
  head
    title Timezone Picker

    // build:remove 
    link(href="stage/css/stage.css", rel="stylesheet")
    // endbuild
    
    // build:css style.css
    link(href="css/main.css", rel="stylesheet")
    // endbuild
    
    //- google maps API
    script(src='https://maps.google.com/maps/api/js?sensor=false')

  body
  
    // build:remove 
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/shadow-icons/rel/app.js")
    script(src="bower-libs/timezone-picker/jquery.timezone-picker.js")
    script(src="bower-libs/timezone-js/src/date.js")
    script(src="bower-libs/moment/min/moment.min.js")
    // endbuild

    // build:js app.js
    script(src="js/main.js")
    // endbuild
    
    // build:remove 
    script(src="stage/js/stage.js")
    // endbuild
    
    //- 
    script(type="text/javascript").
      init();
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
